<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>
    <%- include('./partials/header') %>

    <main>
        <div class="post-detail container">
            <% for( let i=0; i < posteo.length; i++ ) { %>
                <% if (i+1==idPosteo) { %>
            <section class="center main-content post">
                <div class="info-usuario">
                    <img class="perfil" src="<%= posteo[i].fotoPerfil %>">
                    <p><a href="/users/detalleUsuario/id/<%= posteo[i].clienteid %>"><%= posteo[i].nombreUsuario %></a></p>
                </div>
                <img class="photo" src="<%= posteo[i].nombreImg %>" alt="">
            </section>
            <section class="right">
                <section class="comments">
                    <h4 class="comentarios">Comentarios</h4>
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
                        <% for( let k=0; k < posteo[i].comentarios.length; k++ ) { %>
                            <article class="comment">
                                <img class = "perfil" src="<%= posteo[i].comentarios[k].fotoPerfil %>" alt="<%= posteo[i].nombreUsuario %>">
                                <section class="content">
                                    <a class="user" href="/users/detalleUsuario/id/<%= posteo[i].comentarios[k].idUsuario %>"><%= posteo[i].comentarios[k].nombre%></a>
                                    <span class="text"><%= posteo[i].comentarios[k].textoComentario %></span>
                                </section>
                            </article>
                            <% } %>
                        </div>
                        </section>
                        </section>
                        <% } %>
                        <% } %>  
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>