<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <% for( let i=0; i < usuario.length; i++ ) { %>
                <% if (i+1==idUsuario) { %>
                    <section class="top main-content">
                        <img class="perfil" src="<%= usuario[i].fotoPerfil %>" alt="">
                        <div class="info-usuario info-usuario-color">
                            <p>
                                <%= usuario[i].nombreUsuario %>
                            </p>
                            <a class="follow" href="">Seguir</a>
                            <ul class="meta">
                                <li>100 post</li>
                                <li>200 seguidores</li>
                                <li>300 seguidos</li>
                            </ul>
                        </div>
                    </section>
                    <section class="bottom">
                        <% for( let k=0; k< posteos.length; k++ ) { %>
                            <% if (posteos[k].clienteid==idUsuario) { %>
                                <article class="post">
                                    <a href="/post/detallePost/id/<%= posteos[k].id %>">
                                        <img src="<%= posteos[k].nombreImg %>" alt="">
                                    </a>
                                </article>
                                <% } %>
                                    <% } %>
                    </section>
                    <% } %>
                    <% } %>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>