<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<body>
    <% if (locals.user !=undefined) { %>
        <%- include('./partials/headerLogueado') %>
        <% } else { %>
            <%- include('./partials/header') %>
        <% } %>
        <main>
            <div class="post-detail container">
                        <section class="center main-content post">
                            <div class="info-usuario">
                                <img class="profile" src="<%= usuario.foto_de_perfil %>" alt="Foto de perfil"> 
                                <p><a href="/users/detalleUsuario/id/<%= posteo.clienteId %>"><%= usuario.nombre %></a></p>
                                <% if (locals.user !=undefined && posteo.clienteId == user.id) { %>
                                    <div class="separar">
                                        <a href="/post/deletePost/id/<%= idPost %>"><i class="fa-regular fa-trash-can fa-xl" style="color: red;"></i></a>
                                        <a href="/post/editPost/id/<%= idPost %>"><i class="fa-regular fa-pen-to-square fa-xl" style="color: red;"></i></a></div>
                                <% } %> 
                            </div>
                            <img class="photo" src="<%= posteo.nombreImg %>">
                        </section>
                        <section class="right">
                            <h1 class="titulo-form">Comentarios</h1>
                            <section class="comments">
                                <form action= '/post/crearcomentario/id/<%=idPost%>' class="comment-form" method="POST" >
                                    <input type="text" class="input" placeholder="Agregar comentario" name="comentario">
                                    <button type="submit">Comentar</button>
                                </form>
                                <div>
                                    <% for( let i= posteo.posteoComentarios.length - 1; i >= 0; i-- ) { %>
                                    <article class="comment">
                                        
                                        <section class="content">
                                            <a class="user" href="/users/detalleUsuario/id/<%= posteo.posteoComentarios[i].comentarioUsuario.id%>"><%= posteo.posteoComentarios[i].comentarioUsuario.nombre%></a>
                                            <span class="text"><%= posteo.posteoComentarios[i].campoTextoNombreImg %></span>
                                        </section>
                                    </article>
                                    <% } %>
                                </div>
                            </section>
                        </section>
            </div>



    </main>

    <%- include('./partials/footer') %>

</body>

</html>