<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerLogueado') %>

    <main>
        <section class="center main-content">
        <h1 class="titulo-form">Editar Post</h1>
        <form class= "form" action="/post/updatePost/id/<%= post.id %>" method="POST">
            <label for="nombreImg">URL:</label><input id= "nombreImg" type="text" name="nombreImg" value="<%=post.nombreImg %>" required>
            <label for="textoposteo">Caption:</label><input id="textoposteo" type="text" name="textoposteo" value="<%=post.textoposteo %>" required>
            <button type="submit">Enviar</button>
        </form>

        </section>
    </main>
    
    <%- include('./partials/footer') %>

</body>

</html>