<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>
    <% if (locals.user !=undefined) { %>
        <%- include('./partials/headerLogueado') %>
        <% } else { %>
            <%- include('./partials/header') %>
        <!-- <% } %> -->
    <main>
        <section class="center main-content">
            <% for( let i=0; i < posteos.length; i++ ) { %>
            <article class="post">
                <div class="info-usuario ">
                    <img class="perfil" src="<%= posteos[i].fotoPerfil %>" alt="">
                    <h4>
                        <a href="/users/detalleUsuario/id/<%= posteos[i].clienteId %>">
                            <%= posteos[i].nombreUsuario %></a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="/post/detalle/id/<%= posteos[i].id %>">
                        <img src="<%= posteos[i].nombreImg %>" alt=""></a>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-comentarios">
                    <h3 class="texto-usuario">
                        <%= posteos[i].nombreUsuario %>
                    </h3>
                    <p>
                        <%= posteos[i].textoposteo %>
                    </p>

                    <h4>Comentarios</h4>
                    <ul>
                        <% for( let k=0; k < 2; k++ ) { %>
                        <li><a
                                href="/users/detalleUsuario/id/<%= posteos[i].posteoComentarios[k] %>">
                                <%= posteos[i].posteoComentarios[k].comentarioUsuario.nombre%>
                            </a>
                            <span>
                                <%= posteos[i].posteoComentarios[k].campoTextoNombreImg %>
                            </span>
                        </li>
                        <% } %>
                            <a href="/post/detalle/id/<%= posteos[i].clienteId %>">Ver más...</a>
                    </ul>
                </div>
            </article>
        <% } %>
        </section>
    </main>


    <%- include('./partials/footer') %>

</body>

</html>