<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1>Resultados de búsqueda.</h1>
        <% if (productos.length !=0) { %>
            <% for(let i = 0; i < productos.length; i++ ) { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/productos/detalleProducto/<%= productos[i].id %>">
                            <figure class="product-box_image">
                                <img class="foto-producto" src="<%=productos[i].imagen%>" alt="cafetera moulinex">
                            </figure>
                            <article class="product-box_data">
                                <h2><%=productos[i].nombre_producto%></h2>
                                <p><%=productos[i].descripcion_producto%></p>
                                <a href="/users/profile/id/<%=productos[i].productoUsuarios.id %>"><p>Usuario: <%= productos[i].productoUsuarios.usuario %></p></a>

                            </article>
                        </a>
                    </section>
                </div>
            <% } %>
            
             <% } else { %>

                <h2 class="products-title"> No hay resultados para tu búsqueda </h2>

                    <% } %>
        </section>
    </main>
    <footer class="main-footer">
        <ul class="social">
            <li><a href="" uk-icon="instagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" uk-icon="facebook"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" uk-icon="twitter"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        <ul class="team">
            <li>Martin Hernandez</li>
            <li>Lucia Perez</li>
            <li>Gaston Sanchez</li>
        </ul>
    </footer>

</body>

</html>