<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>
    <% if (locals.user !=undefined) { %>
        <%- include('./partials/headerLogueado') %>
        <% } else { %>
            <%- include('./partials/header') %>
        <% } %>
    <main>
        <section class="center main-content">
            <% if (posteos.length <= 0 ) { %>
                <p class="mensaje-error">No hay resultados para su criterio de busqueda: <%= criterio %></p>
                <% } else { %>   
                    <p class="mensaje-error">El resultado de la busqueda "<%= criterio %>" es:</p>
                    <section class="center main-content">
                        <% for( let i=0; i < posteos.length; i++ ) { %>
                            <article>
                                <div class="info-usuario ">
                                    <img class="profile" src="<%= posteos[i].posteoUsuarios.foto_de_perfil %>"
                                        alt="<%= posteos[i].posteoUsuarios.nombre %>">
                                    <h4>
                                        <a href="/users/detalleUsuario/id/<%= posteos[i].posteoUsuarios.id %>">
                                            <%= posteos[i].posteoUsuarios.nombre %>
                                        </a>
                                    </h4>
                                </div>
                                <div class="post-body">
                                    <a href="/post/detalle/id/<%= posteos[i].id %>">
                                        <img src="<%= posteos[i].nombreImg %>">
                                    </a>
                                </div>
                                <ul class="post-reacciones">
                                    <li>
                                        <i class="fa-regular fa-heart"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-comment"></i>
                                    </li>
                                </ul>
                                <div class="post-comentarios">
                                    <span class="caption-posteo">
                                        <h3 class="usuario-caption">
                                            <%= posteos[i].posteoUsuarios.nombre %>
                                        </h3>
                                        <p>
                                            <%= posteos[i].textoposteo %>
                                        </p>
                                    </span>
                                </div>
                            </article>
                            <% } %>
    
                    </section>
                    <% } %>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>